# User-specific .idea files
.idea/workspace.xml

# Loopback mid-tier API layer
api/node_modules/
api/dist/
api/tsconfig.tsbuildinfo
api/.nyc_output/

# React frontend layer
frontend/node_modules/
frontend/cypress/screenshots/
frontend/cypress/videos/
